body{
    font-family: 'Open Sans',sans-serif;
    text-align: center;
}
h1{
    font-family: Oswald, sans-serif;
    
}
.a{
    font-weight: 700;
}
.osn{
    aspect-ratio: 1;
    width: 250px;
    background-color: rgb(255, 132, 0);
    border: solid 10 rgb(0, 0, 0);
    border-radius: 10px;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    gap: 10px;
    
}
.ss{
    font-style: bold;
    color: orange;
}
